@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

:root {
  --foreground: hsl(45, 38%, 84%);
  --foreground-color: hsl(0, 0%, 100%);
  --background: hsl(51, 43%, 90%);
  --primary: hsl(190, 30%, 80%);
  --secondary: hsl(201, 38%, 84%);
  --tab: hsl(195, 23%, 76%);
  --colorText: hsl(0, 0%, 0%);
}

/* System setting if darkmode, but creates a wierd lag timer that if you have dark mode set on computer but then light mode set in state then it goes from dark mode to light mode without
actually clicking the button
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: hsl(0, 0%, 100%);
    --background: hsl(210, 11%, 15%);
    --primary: hsl(220, 7%, 27%);
    --secondary: hsl(201, 38%, 84%);
    --tab: hsl(206deg, 21%, 27%);
    --colorText: hsl(0, 0%, 0%);
  }
}
*/

:root[data-theme="dark"] {
  --foreground: hsl(0, 0%, 100%);
  --foreground-color: hsl(0, 0%, 100%);
  --background: hsl(210, 11%, 15%);
  --primary: hsl(220, 7%, 27%);
  --secondary: hsl(201, 100%, 50%);
  --tab: hsl(206deg, 21%, 27%);
  --colorText: hsl(100, 100%, 100%);
}

:root[data-theme="colour"] {
  --foreground: hsl(87, 100%, 32%);
  --foreground-color: hsl(0, 0%, 0%);
  --background: hsl(222, 71%, 74%);
  --primary: hsl(80, 100%, 40%);
  --secondary: hsl(330, 78%, 55%);
  --tab: hsl(255, 85%, 54%);
  --colorText: hsl(0, 0%, 96%);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  padding: 1rem;
  color: var(--colorText);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.homeform {
  color: #000;
}

.hero-section {
  /* background-image: url('https://source.unsplash.com/random/1920x1080?abstract'); */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
}

.homeform {
  color: #000;
}

.hero-section {
  /* background-image: url('https://source.unsplash.com/random/1920x1080?abstract'); */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
}
